
    body {
        align-content: center;
        text-align: center;
        justify-content: center;
    }
    
   
#therock{
    width: 300px;
    height: 200px
}
#thepaper{
    height: 300px;
    width: 200px;
}
#thescissors{
    height: 200px;
    width: 300px;
}